# Ignore private settings
config/settings_private.json
config/client_secrets.json

# Ignore resource files but keep the folders
resources/audio_clips/*
resources/videos/*
resources/medias/*
resources/musics/*

# Ignore all .csv files
*.csv

# However, don't ignore .gitkeep files so that the folder structure remains
!resources/audio_clips/.gitkeep
!resources/videos/.gitkeep
!resources/medias/.gitkeep
!resources/musics/.gitkeep
